* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
img {
  margin: 4.7rem 0rem;
}
body {
  font-family: Source Serif Pro;
  font-size: 1.6rem;
  background: #fff;
  color: #a54328;
}
.conteiner {
  margin: 5.3rem 3.7rem 3rem;
}
.conteiner ul {
  list-style: disc;
  padding-left: 2rem;
}
.conteiner ol {
  list-style: none;
}
.box-main {
  max-width: 30.8229rem;
}
.box-itens {
  display: flex;
  max-width: 31.9rem;
  flex-direction: column;
  padding: 3.4rem 0rem 3.7rem 0rem;
  font-size: 1.4171rem;
  font-weight: 400;

}
.box-itens h2 {
  margin-bottom: 3.5rem;
}
.box-itens p:nth-of-type(2) {
  margin-top: 2rem;
}
.box-main h1,
.box-itens h2 {
  font-size: 2.8343rem;
}
.conteiner button {
  display: flex;
  width: 9.424rem;
  height: 3.1886rem;
  padding: 1.1337rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: #a54328;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin-top: 1.7rem;
  border: none;
}
.box-main p {
  font-size: 1.4171rem;
}
@media (min-width: 710px) {
  .conteiner {
    display: flex;
    gap: 5rem;
  }
  .box-itens{
    padding: 0rem 0rem 3.7rem 0rem;
  }
}
@media (min-width: 850px) {
  .conteiner {
    gap: 10rem;
  }
}
@media (min-width: 950px) {
  .box-main h1,
  .box-itens h2 {
    font-size: 4rem;
  }
  .box-main p {
    font-size: 2rem;
  }
  .conteiner {
    justify-content: center;
    margin: 2.3rem 3.7rem 3rem;
  }
  .box-main {
    text-align: center;
    max-width: 43.5rem;
  }
  .box-itens {
    max-width: 52.5rem;
    font-size: 2rem;
    padding: 0rem 0rem 3.7rem 0rem;
  }
  .conteiner button {
    margin-top: 4.4rem;
    width: 13.3rem;
    height: 4.5rem;
    padding: 1.6rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    border-radius: 0.8rem;
  }
  img {
    width: 41.1rem;
    height: 24.3704rem;
  }
}
@media(min-width: 1000px){
  .conteiner{
    gap: 18.9rem;
  }
}
